@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

* {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    color: beige;
    max-width: 1500px;
    margin: auto;
}

a {
    text-decoration: none;
}

section {
    margin: 30px;
    padding: 1.5rem 1rem;
    height: 100%;
    min-height: 45vh;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

h2,
h3 {
    margin-bottom: 7px;
    font-size: 150%;
}

p {
    font-size: 1, 9rem;
    width: 75%;
}

.landing {
    margin-bottom: 50px;
    margin-top: 20px;
}

.otsikko {
    display: flex;
    flex-direction: column;
    margin-bottom: 2%;
}

.otsikko h1 {
    font-size: 3.5rem;
}

.somet {
    display: flex;
    flex-direction: row;
    margin: 10px;
    margin-bottom: 5px;
}

.somet a {
    color: #ffd900;
    padding: 5px 8px;
    font-size: 1, 9rem;
}

.somet a:hover {
    color: #ffed8a;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1, 5rem 1rem;
}

.container img {
    max-height: 250px;
    border: 10px;
    border-radius: 35px 100px 20px 100px;
    border-style: solid;
    border-color: beige;
}

.kuvaus {
    margin-right: 50px;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 3rem;
    margin-top: 8px;
}

.links a {
    color: #ffd900;
    font-size: 1, 4rem;
}

.links a:hover {
    color: #ffed8a;
}

.vahvuudet,
.koulutukset {
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.vahvuudet {
    background-color: #d6b600;
    color: black;
}

.vahvuudet p {
    width: 75%;
    text-align: center;
}

.koulutukset p {
    width: 75%;
    text-align: center;
}

.taulu {
    background-color: #d6b600;
    color: black;
    padding: 30px 75px;
    display: block;
    margin: auto;
    overflow: hidden;
}

.pöytä {
    width: 75%;
    margin: 50px;
    margin: auto;
}

td,
th {
    width: 25%;
    align-items: center;
    text-align: center;
    color: black;
}

.pöytä img {
    max-width: 150px;
    max-height: 150px;
}

.taulu p {
    font-size: 150%;
}


.lome {
    display: flex;
    justify-content: space-between;
    margin: 2rem;
}

.lomake {
    display: block;
    margin: auto;
}

input,
button {
    padding: 13px;
    margin: 10px;
}

input {
    border-radius: 10px;
}

iframe {
    display: block;
    margin: auto;
    margin-top: 30px;
    border-radius: 10px;
}

.button {
    color: black;
    background-color: #ffd900;
    border-radius: 10px;
    transition: .6s;
}

.button:hover {
    background-color: #ffed8a;
    border-radius: 70px;
    transition: .6s;
}

@media (width < 900px) {
    .kuvaus {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .lome {
        display: flex;
        flex-direction: column;
    }

    iframe {
        margin-bottom: 20px;
    }
}

@media (width < 800px) {
    .container {
        flex-direction: column;
    }

    .landing img {
        margin: 30px 0;
        max-height: 200px;
        align-items: center;
        border: 2px solid black;
        border-radius: 20px;
    }

}